body {
    font-size: 15pt;
    background-image: url(https://i.servimg.com/u/f64/16/04/00/40/i_back10.gif);
    background-size: 25%;
    color:white;
}

.image1 {
  text-align: center;
}

.image2 {
  text-align: center;
}

.image3 {
  width: 280px;
  height: 300px;
  float: left;
  margin: 0 10px 10px 0;
}

.link {
  text-align: center;
}

.comment {
  text-align: center;
}

.title1 {
  text-align: center;
}

.title2 {
  text-align: center;
}

.title3 {
  text-align: center;
}
